!data/tracks
data/dpc/finetuning/*csv
data/dpc/pretraining/*csv
*.png
*.npz
*.h
*.c
*.o
*.dylib
*.so
*.pth
*.ckpt
*.egg
*.egg-info
.DS_Store
*.mtx
casadi
fatrop_demo
*.casadi
__pycache__
*.pyc
.ruff_cache
.venv
*.json
